<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationDescription</key>
	<string>PHP Monitor is a tool that shows the active PHP version in your menu bar and gives you easy access to certain PHP service actions and config files.</string>
	<key>DeveloperName</key>
	<string>Nico Verbruggen</string>
	<key>Website</key>
	<string>https://github.com/nicoverbruggen/phpmon</string>
	<key>Connections</key>
	<array>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>github.com, api.github.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Relevance</key>
			<string>Essential</string>
			<key>Purpose</key>
			<string>PHP Monitor directly invokes Homebrew which contacts GitHub. This happens when PHP Monitor asks for more information about the PHP formula to determine which version of PHP you&apos;ve got running.</string>
			<key>DenyConsequences</key>
			<string>If you deny these connections, PHP Monitor might not be able to complete its preset set of instructions, causing version switching to fail.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>raw.githubusercontent.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>80, 443</string>
			<key>Relevance</key>
			<string>Essential</string>
			<key>Purpose</key>
			<string>PHP Monitor connects to GitHub to check the Cask file to determine what the latest release of PHP Monitor is.</string>
			<key>DenyConsequences</key>
			<string>If you deny this connection, PHP Monitor will not be able to search for updates. If you don&apos;t want this check to happen, you can disable automatic updates in the Preferences menu instead.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>registry.npmjs.org</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>80, 443</string>
			<key>Relevance</key>
			<string>Essential</string>
			<key>Purpose</key>
			<string>PHP Monitor directly invokes Homebrew which contacts the NPM Registry.</string>
			<key>DenyConsequences</key>
			<string>If you deny these connections, PHP Monitor might not be able to complete its preset set of instructions, causing version switching to fail.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>formulae.brew.sh</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>80, 443</string>
			<key>Relevance</key>
			<string>Essential</string>
			<key>Purpose</key>
			<string>PHP Monitor directly invokes Homebrew which contacts the Homebrew API. This happens when PHP Monitor asks for more information about the PHP formula to determine which version of PHP you&apos;ve got running.</string>
			<key>DenyConsequences</key>
			<string>If you deny these connections, PHP Monitor might not be able to complete its preset set of instructions, causing version switching to fail.</string>
		</dict>
	</array>
</dict>
</plist>
